[alias]
	st = status
	co = checkout
	br = branch
	hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[user]
	email = mail@tombarone.net
	name = Tom Barone
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[log]
	date = local
[includeIf "gitdir:~/code/**"]
	path = ~/.comunet/.gitconfig
