[alias]
	st = status
	co = checkout
	br = branch
	hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[user]
	email = mail@tombarone.net
	name = Tom Barone
[log]
	date = local
[credential "https://github.com"]
	username = tom-barone
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
