[include]
	path = ~/git-configs/shared/.gitconfig
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://git.heroku.com"]
	provider = generic
[commit]
	gpgsign = true
[user]
	signingkey = 79B39318D5DD51A12808B4478672CEE1629D465B
[tag]
	gpgSign = true
[submodule]
	recurse = true
[push]
	recurseSubmodules = on-demand
